/* adBanner.css */

/* Main container styles */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px; /* Set the height to 270px */
    width: auto; /* Set the width to 1440px */
    background-color: #121212; /* Set the background color */
    color: #FFFFFF; /* Set the font color */
  }
  
  /* Flex container styles */
  .flex-container {
    display: flex;
    align-items: center;
  }
  
  /* Text container styles */
  .text-container {
    margin-right: 20px; /* Adjust margin as needed */
  }
  
  /* Image styles */
  .image-container {
    /* If you want the image to maintain its aspect ratio */
    flex: 0 0 auto; /* Prevent image from growing */
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  